<app-start-page></app-start-page>
<button mat-button color="primary" (click)="start()">Старт</button>
<button mat-button color="primary" (click)="end()">Отменить подписку</button>

<div *ngIf="totalSum">Сумма: {{ totalSum }}</div>
<div class="lists">
  <div id="list-1" class="list">
    <ul>
      <li *ngFor="let stream of streamsFromOne">{{ stream.id }} ({{ stream.stream }})</li>
    </ul>
  </div>
  <div id="list-2" class="list">
    <ul>
      <li *ngFor="let stream of streamsFromTwo">{{ stream.id }} ({{ stream.stream }})</li>
    </ul>
  </div>
  <div id="list-3" class="list">
    <ul>
      <li *ngFor="let stream of streamsFromThree">{{ stream.id }} ({{ stream.stream }})</li>
    </ul>
  </div>
</div>
